.app{
    background-color: #a94c4c;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(157, 159, 159);
}

.logo{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.nav-items{
    font-size: 24px;
    display: flex;
    align-items: center;

}
.nav-items > ul{
    display: flex;
    padding: 0px 20px;
}

.nav-items > ul > li{
    list-style: none;
    margin-right: 20px;
    padding: 0px 30px;

}

.body{
    background-color: #968a8a;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}

.search-bar{
    padding: 20px;
}

.restaurant-card{
    background-color: #e7dada;
    width: 345px;
    height: 500px;
    padding: 5px;
    margin-left: 50px;
    margin: 10px;
}

.restaurant-card:hover{
    border: 2px solid black;
    cursor: pointer;
}

.restaurant-image{
    width: 100%;
    height: 300px;
}

.fil-btn{
    margin: 10px;
    cursor: pointer;
}